$color1: #FEF3A3;
$color2: #FDAB62;
$color3: #00044E;
$color4: #01010D;
$color5: #244568;
$color6: #D2644A;
$color7: #9b0008;

$background1: rgba(36,69,104, 0.6);
$background2: rgba(0,4,78, 0.6);

$font1: 'Ubuntu', sans-serif;
$font2: 'Comfortaa', cursive;
$font3: 'Open Sans', sans-serif;

$border: 1px solid black;