{% extends '@WCSCoav/base.html.twig' %}
{% block body %}
    <div class="search">
        <h2>Recherchez un vol</h2>
        <input type="text">
    </div>
    <div class="flight-results">
        <h2>Tous les prochains vols</h2>
        <table></table>
    </div>



{% endblock %}
